<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.nh53934" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Hubert 53934</name>
	<description>Weather App</description>
	<author email="nh53934@zut.edu.pl" href="https://www.wi.zut.edu.pl">
	    Hubert Nowak
    </author>
    <content src="weather.html" />
    <platform name="electron">
        <icon src="res/electron/icon.png" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
