body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c0e0fd;
}

header {
    width: 95%;
    padding: 10px;
    position: sticky;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #7ebdfd;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 2;
}

#search {
    width: 90%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #1c85ed;
}

main {
    width: 80%;
    max-width: 600px;
    background-color: #91c6fb;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-container {
    width: 100%;
    box-sizing: border-box;
}

#task-list {
    list-style: none;
    padding: 0;
    width: 100%;
}
#task-list ul {
    margin-top: 60px;
}
#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#task-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#task-list li .task-text {
    flex-grow: 1;
    margin-right: 10px;
}

#task-list li .task-deadline {
    margin-right: 10px;
    color: #888;
}

#task-list li .delete-task {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #ff4d4d;
}

#new-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

#new-task span, #new-task input, #new-task button {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #c0e0fd;
}
#new-task span {
    flex-grow: 1;
    margin-right: 10px;
}

#new-task input {
    margin-right: 10px;
}

#new-task span[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #888;
}

#new-task button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-task button:hover {
    background-color: #0056b3;
}

mark {
    background-color: yellow;
}


.task-text {
    display: inline;
    padding: 2px;
    border: 1px solid transparent;
}

.task-text.editing {
    border: 1px solid #ccc;
}

.task-deadline-text {
    display: inline-block;
    width: 100px;
    padding: 2px;
    border: 1px solid transparent;
    text-align: center;
}

.task-deadline {
    display: none;
}