#map {
    width: 600px;
    height: 300px;
    border: 1px solid black;
}

#rasterMap {
    width: 600px;
    height: 300px;
    border: 1px solid black;
}

#table {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}
.piece {
    width: 150px;
    height: 75px;
    position: absolute;
    border: 1px solid black;
}